@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background: rgba(229, 238, 246, 1);
}
nav {
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  background: rgba(211, 231, 249, 0.07);
  box-shadow: 0px 0px 8px 0px rgba(97, 103, 167, 0.35) inset;
}
.logo {
  margin-top: 0.4em;
  padding-left: 4.5em;
}
ul {
  margin-top: 0.9em;
  margin-right: 5em;
  margin-left: auto;
}
li {
  color: #1D236C;
  display: inline;
}
a {
  padding: 1rem;
  text-decoration: none;
}
.banner {
  display: flex;
  flex-direction: column;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 6em;
  margin-top: 2em;
}
.btn-1 {
  background: #23D1D3;
  border-radius: 6px 2px 2px 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #1D236C;
  padding: 6px;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
}
.btn-2 {
  margin-left: 0.1em;
  background: #1D236C;
  border-radius: 2px 6px 6px 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #E5EEF6;
  padding: 6px;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
}
.btn-3 {
  margin-left: 0.1em;
  background: #1D236C;
  border-radius: 3px 3px 3px 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #E5EEF6;
  padding: 6px;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
}
.banner-content {
  margin-top: 6rem;
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  flex-direction: row;
}
.banner-text {
  max-width: 40rem;
}
.txt-1 {
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  color: #1D236C;
  margin-bottom: 1.2rem;
}
.txt-2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 101%;
  color: #1D236C;
  margin-bottom: 0.9rem;
}
.txt-3 {
  max-width: 30rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3D3D40;
}
.txt-4 {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #1D236C;
}
.invest-btn{
  margin-top: 5rem;
}
.banner-img {
  padding-left: 9rem;
}
.cropped {
  width: 550px;
  height: 427px;
  object-fit: cover;
}


.container {
  display: flex;
  flex-direction: column;
}
