@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.form-card{
  background-color: #D4CDD5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin: auto;
  margin-top: 50px;
  max-width: 50%;
  min-width: 45%;
}
form input{
  width: 90%;
  margin:10px 0 10px 0;
  padding: 5px;
  border-radius: 10px;
  border: none;
}
form{
  margin: 44px;
}
h2{
  font-size: 2.1rem;
}
h3{
  font-size: 1.2rem;
}
.heading{
  text-align: center;
  padding-top: 30px;
}
.radio{
  padding: 0;
  margin: 0;
  width: auto;
}
.radio-btn-group{
  padding: 10px;
}
p{
  padding-bottom: 8px;
  font-weight: 5px;
}
